**/logs
**/results
**/weights
**/__pycache__
**/wandb
*.pkl*
*.pth*
**/tensorboard/**
*.png*
*.json*
Week5/*_proves.py
Week5/copy_images_from_id.py
Week6/data/*
*.pt*
Week6/evaluation/*.csv
Week6/plots
Week6/feature_embeddings